---
import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import {
  ABOUT_ME,
  FULL_NAME,
  PROFILE_LINKS,
  QUOTE,
  SITE_DESCRIPTION,
} from "@/consts";
---

<Layout title={`${FULL_NAME} | ${QUOTE}`} description={SITE_DESCRIPTION}>
  <Hero />
  <Section title="About Me">
    <div class="w-full grid place-items-center">
      <div
        class="max-w-4xl text-xl md:text-lg opacity-90 text-center justify-evenly leading-8"
      >
        <p>{ABOUT_ME}</p>
      </div>
    </div>
  </Section>

  <Section title="Links">
    <div class="w-full grid place-items-center">
      <div class="flex flex-wrap justify-center gap-4 text-xl md:text-2xl">
        {
          PROFILE_LINKS.map((link) => (
            <a
              href={link.href}
              class="px-2 transition-all ease-in-out hover:bg-white hover:text-black"
              target={link.href.startsWith("http") ? "_blank" : undefined}
              rel={link.href.startsWith("http") ? "noreferrer" : undefined}
            >
              [{link.label}]
            </a>
          ))
        }
      </div>
    </div>
  </Section>
</Layout>
